.registration-form {
 background-color: darkorange;

    
}

form.row.g-3{
    background-color: darkgreen;
}   

div.row.g-3{
background-color: darkgray;
}

footer{
    background-color: darkgray;
}
